
@{
    ViewBag.Title = "_UserInfoPartial";
}

@model MVCDemoProject.Models.UserInfoModel

<h2>User Info</h2>
@using (Html.BeginForm("Register", "Home", FormMethod.Post))//home should be managed
{
    @Html.AntiForgeryToken()

    <div class="form-group">
        @Html.LabelFor(m => m.PhoneNumber)
        @Html.TextBoxFor(m => m.PhoneNumber, new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.PhoneNumber)
    </div>

    <div class="form-group">
        @Html.LabelFor(m => m.Address)
        @Html.TextBoxFor(m => m.Address, new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.Address)
    </div>

    <div class="form-group">
        @Html.LabelFor(m => m.Age)
        @Html.TextBoxFor(m => m.Age, new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.Age)
    </div>

    <button type="submit" class="btn btn-primary">Register</button>
}

